<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= Spree.t('mailchimp_settings') %></h1>

<table>
  <tr>
    <th scope="row"><%= Spree.t("mailchimp_api_key") %>:</th>
    <td><%= Spree::Config[:mailchimp_api_key] %></td>
  </tr>
  <tr>
    <th scope="row"><%= Spree.t("mailchimp_list_id") %>:</th>
    <td><%= Spree::Config[:mailchimp_list_id] %></td>
  </tr>
</table>

<h4><%= t("mailchimp_double_opt_in") %>: <%= Spree::Config[:mailchimp_double_opt_in]? Spree.t('yes') : Spree.t('no') %></h4>
<h4><%= t("mailchimp_send_welcome") %>: <%= Spree::Config[:mailchimp_send_welcome]? Spree.t('yes') : Spree.t('no') %></h4>
<h4><%= t("mailchimp_send_notify") %>: <%= Spree::Config[:mailchimp_send_notify]? Spree.t('yes') : Spree.t('no') %></h4>
<% unless Spree::Config[:mailchimp_merge_vars].blank? %>
    <h4><%= t("mailchimp_merge_vars") %></h4>
    <p>
    <%= raw Spree::Config[:mailchimp_merge_vars].gsub(/,/, '<br >') %>
    </p>
<% end %>

<p><%= link_to_with_icon 'edit', Spree.t("edit"), edit_admin_mailchimp_gibbon_settings_path %></p>
